.a{
    color:#000000;
}
.a:visited{
    color:#000000;
}
.mynavBar {
    margin: 0;
}

.indexSlider {
    width: 100%;
    height: 40%;
    background-image: url("../img/sunset.jpg");
}

.banner {
    background: url(../img/background1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
    max-height: 400px;
}


.banner-info {
    text-align: center;
    padding-top: 140px;
    color: #ffffff;
}


.hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-in-vertical>h3{
    cursor: pointer;
}
.hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    /*-- w3layouts --*/
    bottom: 0;
    left: 0;
    right: 0;
    background: #5cb85c;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
    color: white;
}

.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
    box-shadow: #00ff80 0 0 1px 1px;
    transform: scale(1.05);
    cursor: pointer;
    transition: box-shadow 200ms,transform 200ms;
}

body a:hover {
    text-decoration: none;
}

.banner a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding: 8px 50px;
    outline: none;
    text-transform: uppercase;
}

.step-content {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background: #fff;
    -moz-box-shadow: 0 0 5px 0 #ccc;
    -webkit-box-shadow: 0 0 5px 0 #ccc;
    -o-box-shadow: 0 0 5px 0 #ccc;
    -ms-box-shadow: 0 0 5px 0 #ccc;
    box-shadow: 0 0 5px 0 #ccc;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 26px 28px
}

.step1-title {
    margin-top:40px;
    color: #202020;
    font-size: 14px;
    padding: 18px 0;
    border-bottom: solid 1px #e5e5e5
}

.step1-title .num {
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #46b8da;
    color: #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-family: monospace;
    font-size: 16px;
    margin-right: 7px;
    position: relative;
    top: -1px
}
.step-content .input-label{
    width:120px;
    font-size:20px;
    float:left;
    font-weight: lighter;
}
.timelineDe{
    display: inline-block;
    margin:10px auto;
    font-weight: lighter;
    font-size:15px;
}
.addTimeLine{
    text-align: center;
    margin-top: 20px;
}
.AddConButton{
    text-align: center;
    margin-top: 20px;
}
.step-content .select-input .category-list {
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 0 18px;
    color: #4c4948;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    transition-duration: 0.7s;
    background: url(../img/right_null.png) no-repeat bottom right;
}
.step-content .select-input .category-list:hover {
    color: #46b8da;
    border: 1px solid #46b8da;
    background: url(../img/addSubjects.png) no-repeat bottom right;
}

.step-content .select-input {
    cursor: pointer
}
.step-content .select-input {
    height: 35px;
    line-height: 35px
}
.step-content .select-input .Alreadycategory-list.selected {
    /*color: #46b8da;*/
    border: 1px solid #e5e5e5;
    display: inline-block;
    padding: 0 18px;
    color: #4c4948;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    transition-duration: 0.7s;
    background: url(../img/right_306df3e.png) no-repeat bottom right;
}
.step-content .select-input .Alreadycategory-list:hover {
    color: #d43f3a;
    border: 1px solid #d43f3a;
    background: url(../img/cancelSubjects.png) no-repeat bottom right;
}
.Search-Wrapper{
    background-color:#cceffd;
    color:#FFFFFF;
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
}
.SearchBar{
    width:80%;
    padding:6px 12px;
    color:#000000;
    border-radius: 10px;
    border:1px solid #CCCCCC;
    line-height: 45px;
    font-size:20px;
    font-weight:lighter;
    outline:none;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.SearchBar:focus{
    border-color:#66afe9;
    outline:none;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.Search-Wrapper .btn{
    color:#FFFFFF;
    width:70px;
    height:50px;
    background-color: #008fa1;
    border-color: #008fa1;
    margin-bottom:9px;
    transition:color 1s;
    border-radius:10px;
}
.Search-Wrapper .btn:hover{
    color: #000000;
}
.Search-Wrapper .btn:focus{
    outline:none;
}