
.banner{
    background:#2C3E50;
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 400px;
    max-height: 400px;
}
.banner-info {
    text-align: center;
    padding-top: 140px;
    color: #ffffff;
}

.panel-title{

    vertical-align:middle;
    font-size: 30px;
    font-weight: bold;

}
.panel-body {
    background-color: black;
    background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.VivaTimeline{
    background:#2C3E50;
}
#favorite {
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #FFFFFF;
    background: #00a0e3;
    text-align: center;
    margin-top: 120px;
    margin-left: 1100px;
    border-radius: 15px;
    border: none;
}

#favorite:hover {
    background: #fb2b4e;
}
.clock{
    display: block;
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
}
.panel-body-btn button{
    display: inline-block;
    width: 140px;
    height: 60px;
    line-height: 7px;
    font-size: 24px;
    color: #FFFFFF;
    background: #00a0e3;
    text-align: center;
    padding-left: 5px;
    margin: 45px 14px 10px 14px;
    border: none;
}
.panel-body-btn button:hover{
    background: #fb2b4e;
}
.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file + label {
    display: inline-block;
    font-weight: 100;
    border-radius: 4px;
    padding: 10px;
    border: 1px;
    border-color: #cccccc;
    border-style: solid;
    width: 100%;
    background-color: #ffffff;
}

.file + label:hover {
    cursor: pointer;
}

.file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.modal-body  label {
    font-size: 20px;
}

.modal-body input {
    height: 42px;
}