
/*header*/
.header{
    background: url(../img/background1.jpg) no-repeat center;
    width: 100%;
    height: 600px;
    z-index:999
}
.header .header_top{
    background: #004486;
    height: 36px;
    line-height: 36px;
    color: #FFFFFF;

}
.header .header_top span{
    display: inline-block;
    padding-left: 30px;
    margin-left: 30px;
}
.header .header_top .tell{
    background: url(../img/background1.jpg) no-repeat left center;
    background-size:24px ;
}
.header .header_top .email{
    background: url(../img/background1.jpg) no-repeat left center;
    background-size:24px ;
}
.header .header_top a{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 22px;
    width: 62px;
    line-height: 20px;
    margin-top: 6px;
    text-align: center;
    font-size: 14px;
}
.header .header_top a:hover{
    background: #fb2b4e;
    color: #FFFFFF;
    border: 1px solid #fb2b4e;
}
.header .header_nav{
    height: 100px;
    background: #1b3a86;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header .header_nav .nav{

}
.header .header_nav .nav .logo{
    background: url(../img/background1.jpg) no-repeat left center;
    height: 100px;
    width: 450px;
    position: relative;
    left: 0px;
    float: left;
}
.header .header_nav .nav ul{
    position: relative;
    float: right;
}
.header .header_nav .nav ul li {
    float: left;
    line-height: 100px;
}
.header .header_nav .nav ul li a{
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding-left:  40px;
}
.header .header_nav .nav ul li a:hover{
    background: none;
    border: none;
    color: #fb2b4e;
}
.header .time{
    position: relative;
    top: 200px;
    left: 55px;
}
.header .time h1{
    font-size: 36px;
    font-weight: bold;
}
.data-show-box{
    font-size: 25px;
    font-weight: bold;
}
.date-tiem-span{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    padding-left: 0px !important;
    color: #ff0000;
    margin-left: 0px !important;
}

.introduction button{
    display: inline-block;
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #FFFFFF;
    background: #00a0e3;
    text-align: center;
    margin: 0px 50px 0px 50px;
    border: none;
}
.introduction button:hover{
    background: #fb2b4e;
}
.introduction h1{
    padding: 80px 0px 50px  0px;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.topic_notice{
    background: url(../img/background1.jpg) no-repeat center;
    width: 100%;
    height: 696px;
    text-align: center;
}
.topic_notice h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 40px;
}
.topic{
    background: #FFFFFF;
    width: 580px;
    height: 550px;
}
.topic p{
    font-size: 16px;
    line-height: 36px;
}
.topic a{
    font-size: 18px;
    color: #fb2b4e;
    padding-top: 30px;
    display: block;
}
.notice{
    background: #FFFFFF;
    width: 580px;
    height: 550px;
}

.notice ul {
    width: 80%;
    margin:  0 auto;
}

.notice ul li{
    line-height: 36px;
    font-size: 16px;
}
.notice ul li  {
    text-align: left;
}
.notice ul li a  span{
    float: right;
}

.notice ul li:first-child a{
    color: #fb2b4e;
}
.notice ul .more{
    font-size: 18px;
    color: #fb2b4e;
    padding-top: 30px;
    display: block;
}
.Important_date {
    background: url(../img/background1.jpg) no-repeat center;
    width: 100%;
    min-height: 300px;
    text-align: center;
}

.Important_date h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 40px;
}
.Important_date dl{
    width: 380px;
    height: 100px;
    border:1px solid #CCCCCC;
    background: #f7f7f7;
    text-align: center;
    float: left;

}

.Important_date dl dt{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px  dashed #e6e6e6;
    font-weight:500;
}
.Important_date dl span{
    color: #fb2b4e;

}
.Important_date dl dd{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    font-weight:500;
}
.guest{
    background: url(../img/background1.jpg) no-repeat center;
    width: 100%;
    text-align: center;
}
.guest h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #FFFFFF
}
.guest  ul{
    width: 1300px;
    overflow: hidden;
}
.guest  ul li{
    float: left;
    width: 225px;
    margin-right: 100px;
}
.guest  ul li:hover p{
    color: #fb2b4e;
    cursor: pointer;
}
.guest   a{
    color: #FFFFFF;
    background: #fb2b4e;
    display: block;
    width: 260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: 20px;
    margin: 50px auto;
    position: relative;
    bottom: 20px;
}
.organization h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 40px;
}

.organization ul {
    width: 1300px;
    overflow: hidden;
}
.organization ul li{
    float: left;
    margin-right: 54px;
    margin-bottom: 30px;

}
.organization ul li img{
    border: 1px solid #CCCCCC;
    width: 258px;
    height: 58px;
}

.footer{
    background: #1b3a86;
    color: #FFFFFF;
    line-height: 36px;
    min-height: 270px;
    margin-bottom: -10px;
}
.footera{
    position:relative ;
}
.footera p a{
    color: #FFFFFF;
    line-height: 36px;
}
.footera p a:hover{
    color: #fb2b4e;
}
.erweima{
    width: 159px;
    height: 159px;
    position: absolute;
    right: 0px;
    top: 40px;
}
.footer .Copyright{
    border-top: 1px solid #FFFFFF;
}


.contact_en{
    position: relative;
    top: 35px;
    left: 80px;
}

.headera{
    background: url(../img/background1.jpg) no-repeat top center;
    width: 100%;
    height: 349px;
    background-size:100% ;
    margin-top: -2px;
}
.header_topa{
    background: none !important;
}

.public_cen{
    border-bottom: 1px solid #f7f7f7;
    height: 57px;
    margin-top: -2px;
}
.public_cen h2{
    line-height: 57px;
    width: 255px;
    background: #1b3a86;
    text-align: center;
}
.public_cen h2 a{
    color: #FFFFFF;
}
.public_cen h2 a:hover{
    color:  #fb2b4e;
}
.public ul{
    width: 1300px;
    overflow: hidden;

}
.public ul li{
    width: 368px;
    height: 184px;
    border: 1px solid #e6e6e6;
    background: #f7f7f7;
    float: left;
    margin-right: 43px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.contact_us{
    background: url(../img/background1.jpg) no-repeat;
    width: 104px;
    height: 104px;
    position: absolute;
    left: 130px;
    top: -50px;
    z-index: 999;
}
.contact__information{
    background: url(../img/background1.jpg) no-repeat;
    width: 104px;
    height: 104px;
    position: absolute;
    left: 130px;
    top: -50px;
    z-index: 999;
}
.about_wechat{
    background: url(../img/background1.jpg) no-repeat;
    width: 104px;
    height: 104px;
    position: absolute;
    left: 130px;
    top: -50px;
    z-index: 999;
}
.public  dl img{
    width: 150px;
    height: 185px;
    float: left;
    margin-right: 30px;
}
.public  dl dt{
    padding-left: 180px;
}
.public  dl dd{
    padding-left: 180px;
}
.public ol li{
    height: 75px;
    line-height: 75px;
    margin-bottom: 30px;
}
.public ol li .date-time{
    height: 100%;
    width: 75px;
    float: left;
    background: #f7f7f7;
    margin-right: 20px;
    text-align: center;
    line-height: 36px !important;
}
.public ol li a{
    font-size: 18px;
    font-weight: bold;
}
.public ol li a span{
    font-size: 16px;
    font-weight: 500;
}

*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
/*html,body{*position:static;moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none; font-family: "微软雅黑";}*/

/*禁止鼠标右键复制文字样式css表*/

html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline:none}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a,area{outline:none;blr:expression(this.onFocus=this.blur())}
a:hover{outline:none;color: #fb2b4e;}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{text-decoration: none;}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
/*HTML5 reset*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0}time{display:inline}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5}
legend small{font-size:15px;color:#999}
svg:not(:root) {overflow: hidden}
fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield; /* 1 */}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none}
ul,li{list-style: none;}
.user-select {
    -webkit-user-select: initial!important;
    -moz-user-select:  initial!important;
    -ms-user-select:  initial!important;
    user-select:  initial!important;}
.center{text-align: center;}
.tx_l{text-align: left;}
.inline{display: inline;}
.radius{border-radius: 50%;overflow: hidden;}
.fr{float: right;}
.fl{float: left;}
.clear{clear: both;}
.w-1200{width: 1200px;}
.auto{margin: 0 auto;}
.clear{ clear: both;}
.block{display: block;}
.cl:after,.clearfix:after{content:"\20";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}
/*2.1 响应式栅格系统*/
.row{ box-sizing:border-box}
[class^="col-"],[class*=" col-"]{box-sizing:border-box; float:left;min-height: 1px;position: relative}
.col-1{width:8.33333%}
.col-2{width:16.66667%}
.col-3{width:25%}
.col-4{width:33.33333%}
.col-5{width:41.66667%}
.col-6{width:50%}
.col-7{width:58.33333%}
.col-8{width:66.66667%}
.col-9{width:75%}
.col-10{width:83.33333%}
.col-11{width:91.66667%}
.col-12{width:100%}
/*局部模块平分*/
.col-1-1{ width:100%}
.col-2-1{ width:50%}
.col-3-1{ width:33.333333%}
.col-3-2{ width:66.666667%}
.col-4-1{ width:25%}
.col-4-3{ width:75%}
.col-5-1{ width:20%}
.col-5-2{ width:40%}
.col-5-3{ width:60%}
.col-5-4{ width:80%}
.col-6-1{ width:16.666667%}
.col-6-5{ width:83.333333%}

/*margin*/
.margin_30{margin: 30px;}
.margin_20{margin: 20px;}
/*margin-top*/
.mt-4{margin-top:4px}
.mt-5{margin-top:5px}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-20{margin-top:20px}
.mt-25{margin-top:25px}
.mt-30{margin-top:30px}
.mt-35{margin-top:35px}
.mt-40{margin-top:40px}
.mt-50{margin-top:50px}
.mt-60{margin-top:60px}
.mt-70{margin-top:70px}
/*margin-bottom*/
.mb-5{margin-bottom:5px}
.mb-10{margin-bottom:10px}
.mb-15{margin-bottom:15px}
.mb-20{margin-bottom:20px}
.mb-30{margin-bottom:30px}
.mb-40{margin-bottom:40px}
.mb-50{margin-bottom:50px}
/*margin-left*/
.ml-5{margin-left:5px}
.ml-10{margin-left:10px}
.ml-15{margin-left:15px}
.ml-20{margin-left:20px}
.ml-30{margin-left:30px}
.ml-40{margin-left:40px}
.ml-50{margin-left:50px}
.ml-60{margin-left:60px}
.ml-70{margin-left:70px}
.ml-80{margin-left:80px}
.ml-90{margin-left:90px}
.ml-100{margin-left:100px}
.ml-180{margin-left:180px}
/*margin-right*/
.mr-5{margin-right:5px}
.mr-10{margin-right:10px}
.mr-15{margin-right:15px}
.mr-20{margin-right:20px}
.mr-30{margin-right:30px}
.mr-40{margin-right:40px}
.mr-50{margin-right:50px}
/*padding-bottom*/
.pb-2{padding-bottom:2px}
.pb-5{padding-bottom:5px}
.pb-10{padding-bottom:10px}
.pb-20{padding-bottom:20px}
.pb-30{padding-bottom:30px}
.pb-40{padding-bottom:40px}
.pb-50{padding-bottom:50px}
.pb-60{padding-bottom:60px}
.pb-70{padding-bottom:70px}
.pb-80{padding-bottom:80px}
/*padding-top*/
.pt-5{padding-top:5px}
.pt-10{padding-top:10px}
.pt-15{padding-top:15px}
.pt-20{padding-top:20px}
.pt-25{padding-top:25px}
.pt-30{padding-top:30px}
.pt-40{padding-top:40px}
.pt-50{padding-top:50px}
.pt-60{padding-top:60px}
.pt-70{padding-top:70px}
/*padding-left*/
.pl-5{padding-left:5px}
.pl-10{padding-left:10px}
.pl-20{padding-left:20px}
.pl-40{padding-left:40px}
.pl-45{padding-left:45px}
.pl-50{padding-left:50px}
.pl-55{padding-left:55px}
.pl-60{padding-left:60px}
.pl-65{padding-left:65px}
/*padding-right*/
.pr-5{padding-right:5px}
.pr-10{padding-right:10px}
.pr-20{padding-right:20px}
.pr-40{padding-right:40px}
/*padding*/
.pd-5{padding:5px}
.pd-10{padding:10px}
.pd-15{padding:15px}
.pd-20{padding:20px}
.pd-30{padding:30px}
.pd-40{padding:40px}
/*font-size*/
.f-12{font-size:12px}
.f-14{font-size:14px}
.f-16{font-size:16px}
.f-18{font-size:18px}
.f-20{font-size:20px}
.f-24{font-size:24px}
.f-26{font-size:26px}
.f-28{font-size:28px}
.f-30{font-size:30px}
.f-60{font-size:60px}
.f-b{font-weight: bold;}
/*font-weight*/
.f-w500{font-weight: 500;}
.f-b{ font-weight: bold;}
/*line-height*/
.lh-16{line-height:16px}
.lh-18{line-height:18px}
.lh-20{line-height:20px}
.lh-22{line-height:22px}
.lh-24{line-height:24px}
.lh-26{line-height:26px}
.lh-28{line-height:28px}
.lh-30{line-height:30px}
.lh-36{line-height:36px}
.lh-40{line-height:40px}
.lh-50{line-height:50px}
.lh-60{line-height:60px}
/*color*/
.cl_hui{color: #4c4c4c;}
.cl_qing{color:#009d56;}
.cl_w{color: #FFFFFF;}
/*background*/
.public_bg{background: #00622f;}
.public_bga{background: #009d56;}
/*border*/
.boder_boder{border: 1px solid #cccccc;}

.mt-4{margin-top:4px}
.mt-5{margin-top:5px}.mt-10{margin-top:10px}.mt-15{margin-top:15px}.mt-20{margin-top:20px}.mt-25{margin-top:25px}.mt-30{margin-top:30px}.mt-35{margin-top:35px}.mt-40{margin-top:40px}.mt-50{margin-top:50px}
.mb-5{margin-bottom:5px}.mb-10{margin-bottom:10px}.mb-15{margin-bottom:15px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}
.ml-5{margin-left:5px}.ml-10{margin-left:10px}.ml-15{margin-left:15px}.ml-20{margin-left:20px}.ml-30{margin-left:30px}.ml-40{margin-left:40px}.ml-50{margin-left:50px}
.mr-5{margin-right:5px}.mr-10{margin-right:10px}.mr-15{margin-right:15px}.mr-20{margin-right:20px}.mr-30{margin-right:30px}.mr-40{margin-right:40px}.mr-50{margin-right:50px}
.pb-2{padding-bottom:2px}.pt-5{padding-top:5px}.pt-10{padding-top:10px}.pt-20{padding-top:20px}
.pb-5{padding-bottom:5px}.pb-10{padding-bottom:10px}.pb-20{padding-bottom:20px}
.pl-5{padding-left:5px}.pl-10{padding-left:10px}.pl-20{padding-left:20px}
.pr-5{padding-right:5px}.pr-10{padding-right:10px}.pr-20{padding-right:20px}
.pd-5{padding:5px}.pd-10{padding:10px}.pd-15{padding:15px}.pd-20{padding:20px}.pd-30{padding:30px}.pd-40{padding:40px}
.f-12{font-size:12px}.f-14{font-size:14px}.f-16{font-size:16px}.f-18{font-size:18px}.f-20{font-size:20px}.f-24{font-size:24px}.f-26{font-size:26px}.f-28{font-size:28px}.f-30{font-size:30px}
.lh-16{line-height:16px}.lh-18{line-height:18px}.lh-20{line-height:20px}.lh-22{line-height:22px}.lh-24{line-height:24px}.lh-26{line-height:26px}.lh-28{line-height:28px}.lh-30{line-height:30px}
.fff{color: #fff;}
.fr{float: right; display: inline-block;}
.red{color:#F15353!important;}
.hui{color:#999;}
.huang{color: #ff9933;}
.blue{color:#1d60bd;}
.qianlan{color:#00abe3}
.hui2{color:#666;}
.hui3{color:#333;}
.bai-color{ color:#fff;}
.qing-color{color: #41af35;}
.lv-color{color: #9feefe!important;}
.bg-zong{background: #443629;}
.hui-color{background: #ccc;}
.bai-bg{background: #fff!important;}
.blue-color {background: #247df7;}
.blue-color:active {background: #1d60bd;color: #fff;}
.yellow-color {background-color: #FFB03F;}
.red-color {background-color: #F15353;}
.lv-bg{background:#50b017; color: #fff;}
.hui-color:active{background: #999; color: #fff;}
.yellow-color:active{background-color: #d79435; color: #fff;}
.red-color:active {background-color: #d04848; color: #fff;}
.text-d{ text-decoration: none;}
.fw{font-weight: 700;}

.swiper-pagination-bullet{width:40px;border-radius:2px; height:4px;background: #aaa59b;}
.swiper-pagination-bullet-active{background: #ff0000;}
.sczx-title .title{height: 44px; overflow: hidden;}
.sczx-neirong{height: 40px; overflow: hidden;}
.sczx-ul li{line-height: 30px; list-style-type:square}
.cpjs-title-ul ul li{float: left;}
.cpjs-title-ul ul li a{width: 70px; height: 30px; line-height: 30px; display: inline-block; text-align: center; margin: 0 15px;}
/*.cpjs-title-ul ul li a.active, .cpjs-title-ul ul li a:hover{background:#ee4d4d;color: #fff; border-radius:15px ;}*/
.cpjs-list .title1{height: 25px; overflow: hidden;}
/*.cpjs-list a{background: #fff;}*/
.top_title{background: #f9f9f9; height: 30px; line-height: 30px;}
.top_title a{width: 60px; text-align: center; height: 30px;display: inline-block;}
.top{background: #fff; min-height:90px; width: 100%; position: relative;box-shadow: 0 0 20px rgba(0,0,0,.1);}
.navbar-brand{padding:0}
.top .navbar-bottom{ background: url(../img/background1.jpg) no-repeat; height:22px; width: 100%; position: absolute; bottom: 0;}
.carousel-indicators li{border: none;}
.search{width: 270px; height: 40px; margin-top: 10px; background: #fafafa;border-radius: 6px;}
.search input{height: 40px;width: 220px; background: none; border: none; padding: 0 15px; line-height: 40px;}
.navbar-nav li a{color: #333;text-align: center;}
/*.navbar-nav li.active a, .navbar-nav li a:hover{background: none; color: #443629;border-bottom:2px solid #443629; }*/
.carousel-indicators li{width: 40px; height: 5px; background: #aaa59b; opacity: 0.8;}
.carousel-indicators .active{background: #ff0000;width: 40px; height: 5px; }
.carousel-control.left,.carousel-control.right{background: none;}
.carousel-control{top: 35%; font-size: 100px;}
.navbar{border: none;}
.container{width: 100%; padding:0; }
.container-index{background: #fff;border-top: 2px solid #ff0000; }
.jumbotron{background: none;overflow: hidden;}
.container .jumbotron, .container-fluid .jumbotron{border-radius:0 ;}
.container .details-link .btn{border-radius: 0; padding:5px 20px}
.container-prouducts{background: #F9F9F9;}
.cpjs-title div a{background: #685d53; line-height: 60px; color: #fff; display: inline-block; width: 100%; margin: 10px 0; border-radius: 6px;}
.cpjs-title div a.active, .cpjs-title div a:hover{background: #ee4d4d;}
.container-prouducts .prouducts{position: relative; overflow: hidden; display:block;transition: all 0.3s ease 0s; }
.container-prouducts .prouducts .title{transition: all 0.3s ease 0s; background:#000; background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important;/*å®žçŽ°FFèƒŒæ™¯é€æ˜Žï¼Œæ–‡å­—ä¸é€æ˜Ž*/filter:Alpha(opacity=80); color: #fff; padding:10px; position: absolute;width: 100%; bottom: -80px; }
.container-prouducts .prouducts .title .title_hidden{margin-bottom: 5px; font-size: 16px;}
.container-prouducts .prouducts:hover{  transform: scale(1.01, 1.01); transition: all 0.4s ease 0s; box-shadow:0 0 20px rgba(0,0,0,.1);}
.container-prouducts .prouducts:hover .title{bottom: 0;}
.container .title_hidden{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.container .date{width: 80px;height: 80px;background: #443629;  display: inline-block ; text-align: center;float: left; }
.container .list{border-bottom:1px solid #ccc; padding: 20px 0; margin-bottom: 0;}
.container .list dd{height: 40px; overflow: hidden;}
.container .zs_list{line-height: 30px;}
.container-join{background: url(../img/background1.jpg) no-repeat center center; background-size: 100% 100%; padding-bottom: 40px;}
.container-bottom{background: #2a221b;}
.container-bottom .link-exchange{background: #1c1c1c; padding: 20px 0; }
.container-bottom .link-exchange a{color: #999; display: inline-block; line-height: 30px;  padding:0 10px}
.container-bottom .col-xs-8,.container-bottom .col-xs-4{color: #999; padding:50px 0}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #443629;
}
.navbar{margin-bottom: 0;}
.nav > li > a:focus, .nav > li > a:hover{background: none;}


/*è§†é¢‘èµ„è®¯*/
.container-video{}
.vidioStart{position: absolute; left: 0%; top: 0%; width: 100%; height: 100%;  text-align: center; vertical-align: middle;background: url(../img/background1.jpg) no-repeat center center;}
.ysj-img{ margin: 0 auto; margin-top:-70px; width: 70%; }
.swiper-container2 .swiper-slide{padding: 15px; height: 360px;transition: all 0.4s ease 0s; }
.swiper-container2 .swiper-slide:hover{ margin-top: -10px; box-shadow:0 0 20px rgba(0,0,0,.1);}
.swiper-container3 .swiper-slide{transition: all 0.4s ease 0s;}
.swiper-container3 .swiper-slide:hover{box-shadow:0 0 20px rgba(0,0,0,.1);}
.container-onLike{padding: 60px 0!important;}
.container-bottom .title{line-height: 25px; font-size: 15px; }
.container-bottom .bottom-line{background: #82674f; width: 60px; height: 2px; margin: 10px auto;}
.container-bottom a{color: #b1b1b1; line-height: 30px;}
.container-title-img{background: url(../img/background1.jpg) no-repeat center center;  overflow: hidden; line-height: 150px; background-size:auto 100%; height: 200px;}
.container-title2-img{background: url(../img/background1.jpg) no-repeat center center;  overflow: hidden; line-height: 150px; background-size:auto 100%; height: 300px;}
.container-title-img img{width: 20%;}
.container-gywm{background: url(../img/background1.jpg) no-repeat center center; background-size:100% 100%; }
.container-gywm span{text-indent: 24px; line-height: 25px; padding-bottom: 15px; display: inline-block;}
.container-lxwm .about-list{width: 80%; background: #fafafa; padding: 15px; margin-top: 30px;}
.container-lxwm .about-list img{width: 36px; background: #fafafa; margin-right: 15px;}
.container-zxly{background: url(../img/background1.jpg) no-repeat center center; background-size:100% 100%; }
.container-zxly .left-title{width: 20%; display: inline-block; text-align: center;}
.container-zxly .about-list{margin-top: 30px;}
.container-zxly input , .container-zxly textarea{line-height: 35px; width: 60%;  color: #333; padding: 0 10px; border-radius: 4px; border: none;}
.container-list1{padding-bottom: 40px;}
.container-list1-ul li{float: left;}
.container-list1-ul li a{display: inline-block; width: 70px; margin-right: 20px; margin-top: 20px; line-height: 30px; height: 30px; text-align: center; color: #fff; background: #666666;}
.container-list1-ul li a:hover{background: #ee4d4d;}
.img-title{background: rgba(0,0,0,0.6);color: #fff; padding: 10px 15px; position: absolute; left: 0; bottom: 0; width: 100%;}
.sczx-ul li{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.container-list2 li{margin-top: 15px;}
.jumbotron{padding-left:0!important  ; padding-right:0!important ;}
.container-content1 p{text-indent: 24px;font-size:14px; line-height: 25px; }
.content-next a{background: #666666; color: #fff; padding: 10px 15px; display: block; margin-top: 15px;}
.content-next a:hover{background: #ee4d4d; color: #fff; }
.bgcq-btn{background: #666666; display: block; text-align: center; width: 110px; color: #fff; line-height: 40px; height: 40px; border-radius: 4px; }
.bgcq-btn:hover{background: #ee4d4d; color: #FFFFFF;}
.container-news .media-body, .container-search .media-body{border-bottom: 1px solid #e7e7e7; padding-bottom: 15px;}
.container-pnews .media{padding-top: 15px;}
.container-news .media:hover{color: #ee4d4d;}
.container-news .media:hover .media-left{background: #ee4d4d;}
.pagination > .active > a{background: #ee4d4d!important;border-color:#ee4d4d!important;;}
.container-member-head .head-img img{border-radius: 50%; border: 2px solid #fff; margin-top: -50px;}
.container-member-head ul li{display: inline-block}
.container-member-head ul li a{display: block; padding: 19px 30px;}
.container-member-head ul li.active a{color: #443629; border-bottom: 2px solid #443629;}
.container-member-content  .null-page-draw{width: 40%; margin: 60px auto;}
.container-member-content .bg-white{margin: 20px auto  80px auto;}
.container-member-content .thumbnail{overflow: hidden; padding: 0; position: relative;   transition: all 0.4s ease 0s;}
.container-member-content .thumbnail img{width: 100%; margin: 0; width: auto;}
.container-member-content .thumbnail:hover{box-shadow: 0 0 20px rgba(0,0,0,.1);}
.container-member-content .text-left{width: 60px; text-align: right; color: #999;}
.container-member-content .text-right{padding: 0 15px; text-align: left;}
.container-member-content span{display: table-cell;}
.container-member-head .btn{padding: 6px 30px; margin-top:15px ;}
.container-member-head .btn-outline{background: #FFFFFF; color: #f0ad4e;}
.container-goods .btn{padding: 8px 65px;}
.container-goods .btn-outline{background: #fff;border: 1px solid #ff0000; color: #ff0000;}

/*åˆ—è¡¨é¡µé¢*/
.content-wrap{background: #ebebeb;}
.post {
    padding: 35px;
    background: #ffffff;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}
.post .post-head {
    text-align: center;
}
.post .post-head .post-title {
    margin: 0;
    font-size: 2.5em;
    line-height: 1em;
}
.post .post-head .post-title a {
    color: #303030;
}
.post .post-head .post-meta {
    color: #959595;
    margin: 14px 0 0px;
}
.post .post-head .post-meta span {
    margin: 0px 7px;
    white-space: nowrap;
}
.sidebar .widget {
    background: #ffffff;
    padding: 21px 30px;
}
.widget .title {
    margin-top: 0;
    padding-bottom: 7px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 21px;
    position: relative;
}
.widget .title::after {
    content: "";
    width: 90px;
    height: 1px;
    background: #49a78d;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.post .post-content img {
    width: 100%;
}
.post .post-content {
    margin: 30px 0;
}
.post-content {
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #444443;
}
.sidebar .widget .community a{font-size: 16px; color: #49a78d; line-height: 35px; }
.list-group-item{border: none; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; line-height: 40px;}
.list-group-item:first-child{border: none;}
.list-group-item > .badge{background: #49a78d; float: none; margin-left: 10px;}
.pagination > .active > a{background: #49a78d; border-color:#49a78d ; }
.pagination > a{color: #49a78d;}
.main-content .title_hidden{overflow: hidden; padding: 10px 0; height:50px; color: #49a78d;}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{border-color: #49a78d; text-decoration: none;}
.main-content .title{color: #ff6c6c;}

/*全局默认样式*/
html,body{margin: 0;padding: 0;font-size: 14px;overflow-x: hidden; background: #f5f5f5;color: #373c4b;}
a{text-decoration: none;color: #333;}

a:visited, a:hover, a:focus {text-decoration: none;!important;}
a:active{text-decoration: none; color: #ee4d4d;}
ul,li{list-style: none;margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
/*article{text-indent:2em;}*/
.mui-bar .mui-title{left:70px;right:70px;}
.mui-bar-tab .mui-tab-item.mui-active{color: #ee4d4d;}
.hover1:active{background-color: #F9F9F9;}
.position-r{position: relative;border: 2px solid #333;
    padding: 2px;}
/*5等分栅格*/
.mui-col-xs-1-5{width: 20%;}

/*文本样式*/
.tac{text-align: center;}/*文本居中*/
.tar{text-align: right;}/*文本居右*/

/*边框*/
.bn{border: none;}/*无边框*/
.bd-green{border:1px solid #6A961E}
.ball{border: 1px solid #efefef;}/*全部边框*/
.bt{border-top: 1px solid #efefef;}/*上边框*/
.bl{border-left: 1px solid #efefef;}/*左边框*/
.br{border-right: 1px solid #efefef;}/*右边框*/
.bb{border-bottom: 1px solid #efefef;}/*下边框*/
.blr{border-left: 1px solid #efefef;border-right: 1px solid #efefef;}/*左右边框*/
.bbr{border-bottom: 1px solid #efefef;border-right: 1px solid #efefef;}/*下右边框*/
.btb{border-bottom: 1px solid #efefef;border-top: 1px solid #efefef;}
.ball-orange{border: 1px solid #ff9000;}/*橘色全部边框*/
.boder-r5{border-radius: 5px; overflow: hidden;}

/*字体大小*/
.fs-10{font-size: 10px;}
.fs-12{font-size: 12px;}/*最小字体12px*/
.fs-14{font-size: 14px;}
.fs-13{font-size: 13px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}


/*字体颜色*/
.fc-white{color: #fff;}/*白色字体*/
.fc-red{color:#ff0000}/*红色字体*/
.fc-green{color:#7FB129}/*绿色字体*/
.fc-blue1{color: #19aed1;}/*蓝色字体1*/
.fc-blue2{color: #120f79;}/*蓝色字体2*/
.fc-blue3{color: #005b88;}/*蓝色字体3*/
.fc-yellow1{color: #fea945;}/*黄色字体1*/
.fc-yellow2{color: #e87b00;}/*黄色字体2*/
.fc-orange{color: #ff9000;}/*橘色字体*/
.fc-hui1{color: #333;}/*灰色字体1*/
.fc-hui2{color: #666;}/*灰色字体2*/
.fc-hui3{color: #999;}/*灰色字体3*/
.fc-zong{color: #6d5642;}
/*背景色*/
.bg-white{background: #fff;}/*白色背景*/
.bg-blue{background: #e9fcfe;}/*蓝色背景*/
.bg-yellow{background: #fef2d5}/*黄色背景*/
.bg-green{background: #6A961E!important; color: #fff;}/*绿色背景*/
.bg-hui1{background: #f5f5f5;}/*灰色背景1*/
.bg-hui2{background: #e6e8f1;}/*灰色背景2*/
.bg-hui3{background: #f9fcf6;}/*灰色背景3*/
.bg-hui4{background: #d7d8db;}/*灰色背景4*/
.bg-hui5{background: #eeeeee;}/*灰色背景5*/
.bg-red{background:#ff4c27}/*红色色背景*/
.bg-orange{background: #ff9000;}/*橘色背景*/
.bg-black{background: #373c4b;}/*黑色背景*/
.bg-gold{background: #d4a432;}/*黑色背景*/

/*外边距*/
.m10{margin: 10px;}
.m15{margin: 15px;}
.mt-15{margin-top: 15px;}/*上外边距15px*/
.mt-5{margin-top: 5px;}/*上外边距5px*/
.mt-10{margin-top: 10px;}/*上外边距10px*/
.mt-20{margin-top: 20px;}/*上外边距10px*/
.mtb-10{margin: 10px 0;}/*上下外边距10px*/
.mr-10{margin-right: 10px;}/*右外边距10px*/
.mr-15{margin-right: 15px;}/*右外边距15px*/
.ml-10{margin-left: 10px;}/*左外边距10px*/
.ml-15{margin-left: 15px;}/*左外边距15px*/
.mr-5{margin-right: 5px;}
.mt-b10{margin-top: 10%;}/*上外边距百分之10*/

/*内边距*/
.ptblr-10{padding: 10px;}
.ptblr-15{padding: 15px;}
.ptb-10{padding: 10px 0;}/*上下内边距10px*/
.ptb-5{padding: 5px 0;}/*上下内边距5px*/
.pd-all-1-4{padding:1px 4px;}/*上下内边距1px，左右内边距4px*/
.pd-all-3-5{padding:3px 5px;}
.pt-10{padding-top: 10px;}
.pt-5{padding-top: 5px;}
.pb-5{padding-bottom: 5px;}
.pb-15{padding-bottom: 15px;}
.ptbl-5{padding: 5px 0 5px 10px;}/*上下内边距5px，左内边距10px*/
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-15{padding-right: 15px;}
.pr-20{padding-right: 20px;}
.pl-10{padding-left: 10px;}
.pl-20{padding-left: 20px;}
.pl-5{padding-left: 5px;}
.pb-10{padding-bottom: 10px;}

.fl{float: left;}
.fr{float: right;}
.clear{clear: both;}
.line-through{text-decoration:line-through}
.lh25{height: 25px; line-height: 25px;}
.update {font-style: normal;margin-right: 25px;}
.hidden{display: none;}
.box-shadow{box-shadow:0 0 10px rgba(0,0,0,.1);}
.m-auto{margin: 0 auto;}
/*区域宽度*/
.width-100{width: 100%;}/*宽度百分之百*/
.width-96-center-b3{width: 96%;margin: 3% auto;}/*宽度百分之96，上边距百分之3左右居中*/
.width-96-center{width: 96%;margin: 0 auto;}/*宽度百分之96，左右居中*/
.width-80{width: 80%;margin: 0 auto;}/*宽度百分之80，左右居中*/
.width-96-center-b7{width: 96%;margin: 7% auto;}/*宽度百分之96，上边距百分之7左右居中*/
.width-92-center-b7{width: 92%;margin: 7% auto;}
.width-94-center{width: 94%;margin: 0 auto;}
.width-75{width: 75%;margin: 0 auto;}
.width-50{width: 50%;margin: 0 auto;}

/*自制表格*/
.xf-list-view{ position: relative; margin-bottom: 0;padding-left: 0;list-style: none;background-color: #fff;}
.xf-list-view .xf-list-view-cell{position: relative;overflow: hidden;padding: 11px 15px;-webkit-touch-callout: none;}
.xf-list-view .xf-list-view-cell:after {position: absolute;right: 0;bottom: 0;left: 15px;height: 1px;content: '';-webkit-transform: scaleY(.5);transform: scaleY(.5);background-color: #E7E7E7;}
.xf-list-view-title{position: relative;overflow: hidden;padding: 11px 15px;-webkit-touch-callout: none;}
/*无阴影*/
.bsn{box-shadow: none;}

/*div表格样式*/
.display-table{display: table;}
.display-table-cell{display: table-cell;}
.display-inline-block{display: inline-block;}


.introduction p a{
    display: inline;
    background: none;
    color: #333;
    font-size: 16px;
    color: red;
    line-height: 0;
}
.introduction p a:hover{
    background: none;

}

/*活动图片百分之百充满*/
.act-img-width100 a img{width: 100%;}

/*图片百分之百充满*/
.img-width100 img{width: 100%;}
.img-width90 img{width: 90%;border: 1px solid #ededed;}

/*商品每行显示3个样式*/
.goods-list3 .mui-col-xs-4 a div.index-list-3{width: 80%;margin:0 auto;}
.goods-list3 .mui-col-xs-4 a div.index-list-3 img{width: 100%;border: 1px solid #ededed;}

/*商品每行显示2个样式*/
.goods-list2 .mui-col-xs-6 a div.index-list-2{width:88%;margin:0 auto;border: 1px solid #ededed;}
.goods-list2 .mui-col-xs-6 a div.index-list-2 img{width: 100%;border-bottom: 1px solid #ededed;}

/*字体超出一行部分变成省略号*/
.fontoverhidden{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

/*多选框与单选框*/
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{color:#7FB129;}
.mui-radio input[type=radio]:checked:before{content: '\e442';}


.valign_middle{
    vertical-align: middle
}

.explain-info {
    width: 80%;
    margin:auto;
    font-size: 20px;
    text-align: left
}

.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file + label {
    display: inline-block;
    font-weight: 100;
    border-radius: 4px;
    padding: 10px;
    border: 1px;
    border-color: #cccccc;
    border-style: solid;
    width: 100%;
    background-color: #ffffff;
}

.file + label:hover {
    cursor: pointer;
}

.file:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.modal-body  label {
    font-size: 20px;
}

.modal-body input {
    height: 42px;
}

#favorite {
    width: 240px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    color: #FFFFFF;
    background: #ff6060;
    text-align: center;
    margin-top: 50px;
    border-radius: 15px;
    border: none;
}

#favorite:hover {
    background: #f0ad4e;
}

#NavText2:hover {
    cursor: pointer;
}