<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/alter.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.eeyellow.Timeline.css"/>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=AGS2Lz6K24Czn5jah9UCgmIrqHeqItwZ"></script>
    <title>会议管理平台</title>
</head>
<body>

<div style="height:60px;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width:100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">ConferenceMaster</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" style="float:none;">
                    <li><a href="index.html">Home</a></li>


                    <li class="pull-right" ><a id="NavText1" href="userRegister.html">免费注册</a></li>
                    <li class="pull-right" ><a id="NavText2" href="login.html">登录</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="step-content">
    <h3>发布您的会议</h3>
    <div class="step1-title">
        <span class="num">1</span>填写会议信息
    </div>

    <div style="margin-top:30px">
        <label class="input-label">会议名称</label>
        <div class="input-group" style="width:80%">
            <input role="listen" type="text" id = "title" class="form-control" placeholder="会议名称" aria-describedby="basic-addon1">
        </div>
        <div role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="Title_Warning">Warning</div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label">会议简介</label>
        <div class="input-group" style="width:80%">
            <textarea role="listen" id="Description" style="height:100px; resize:none" class="form-control" placeholder="会议简介"
                      aria-describedby="basic-addon1"></textarea>
        </div>
        <div role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="Description_Warning">Warning</div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label">会议地点</label>
        <div class="input-group" style="width:80%">
            <div data-toggle="distpicker">
                <select id="province" data-province="---- 选择省 ----"></select>
                <select id="city" data-city="---- 选择市 ----"></select>
            </div>
            <input type="text" id = "Location" class="form-control" placeholder="会议地点" onchange = "AddMap()" aria-describedby="basic-addon1">

        </div>
        <div id="LocationWarning" style="margin-left:120px;color:#ff4c27" class="hidden">Warning</div>
        <div id="FindCity"></div>



        <div id="allmap" class="hidden" style="margin-top:20px;margin-left:120px;width:80%;height:400px"></div>

    </div>

    <div style="margin-top:30px">
        <label class="input-label">注册要求</label>
        <div class="input-group" style="width:80%">
            <textarea role="listen" id="RegRequirment" style="height:70px; resize:none" class="form-control" placeholder="注册要求"
                      aria-describedby="basic-addon1"></textarea>
        </div>
        <div  role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="RegRequirment_Warning">Warning</div>
    </div>


    <div class="step1-title">
        <span class="num">2</span>选择您会议学科
    </div>

    <div style="margin-top:30px">
        <label class="input-label">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类</label>

        <div class="select-input select-category" id="CreatConSubjectList">
            <span class="category-list" index="0" onclick="AddSubjectsToAlreadySelected(this)">工业技术</span>
            <span class="category-list" index="1" onclick="AddSubjectsToAlreadySelected(this)">医药卫生</span>
            <span class=" category-list" index="2" onclick="AddSubjectsToAlreadySelected(this)">经济</span>
            <span class=" category-list" index="3" onclick="AddSubjectsToAlreadySelected(this)">农业科学</span>
            <span class=" category-list" index="4" onclick="AddSubjectsToAlreadySelected(this)">文化科学、教育、体育</span>
            <span class="category-list" index="5" onclick="AddSubjectsToAlreadySelected(this)">交通运输</span>
            <span class="category-list" index="6" onclick="AddSubjectsToAlreadySelected(this)">天文学、地球科学</span>
            <span class="category-list" index="7" onclick="AddSubjectsToAlreadySelected(this)">数理科学与化学</span>
            <input type="text" id="txt_ide" list="optionList" />
            <span class="glyphicon glyphicon-plus" aria-hidden="true"  onclick="AddSubjects()"></span>
        </div>

        <datalist id="optionList">
            <option v-for="(subject,index) in Subjects" :id="['SubjectOptionList_'+index]" :value="[subject]" />
        </datalist>





        <div class="step1-title">
        </div>

        <label class="input-label" style="margin-top:20px;bottom-bottom:40px">已选分类</label>

        <div class="select-input select-category" style="margin-top:15px" id="AlreadySelectedSubjectList">
            <span v-for="(subject,index) in AlreadySelectedSubjectList" style="margin-left:5px" class="Alreadycategory-list selected" index="1" :id="['AlreadySelectedSubjectOptionList_'+index]" onclick="DeleteAlreadySelectedSubject(this)">{{subject}}</span>
        </div>

        <div  role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="SubjectZero_Warning">Warning</div>
    </div>






















    <div class="step1-title" style="margin-top:100px">
        <span class="num">3</span>填写会议相关日期

        <div style="color:#ff4c27"  class="hidden" id="Date_Warning">Warning</div>
    </div>
    <div style="margin-top:30px">
        <label class="input-label">截稿日期</label>
        <div class="input-group" style="display: inline-block">
            <input role="listen" id = "accept_due" type="text" value="" class="form_datetime">
        </div>
        <label class="input-label" style="width:200px;float:none;margin-left:20%">审核结果通知日期</label>
        <div class="input-group" style="display: inline-block">
            <input role="listen"  id="modify_due" type="text" value="" class="form_datetime">
        </div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label" style="width:150px">注册开始日期</label>
        <div class="input-group" style="display: inline-block">
            <input  role="listen" id="register_start" type="text" value="" class="form_datetime">

        </div>
        <label class="input-label" style="width:150px;float:none;margin-left:20%">注册截止日期</label>
        <div class="input-group" style="display: inline-block">
            <input  role="listen" type="text" id="register_due" value="" class="form_datetime">
        </div>
    </div>


    <div style="margin-top:30px">
        <label class="input-label" style="width:150px">会议开始时间</label>
        <div class="input-group" style="display: inline-block">
            <input  role="listen" id="conference_start" type="text" value="" class="form_datetime">

        </div>
        <label class="input-label" style="width:150px;float:none;margin-left:20%">会议结束日期</label>
        <div class="input-group" style="display: inline-block">
            <input  role="listen" type="text" id="conference_due" value="" class="form_datetime">
        </div>
    </div>


    <div class="step1-title">
        <span class="num">4</span>填写投稿信息和要求
    </div>

    <div style="margin-top:30px">
        <label class="input-label">投稿信息</label>
        <div class="input-group" style="width:80%">
            <textarea role="listen" id="UploadRequirment" style="height:70px; resize:none" class="form-control" placeholder="投稿要求"
                      aria-describedby="basic-addon1"></textarea>
        </div>
        <div   role="Warning"  style="margin-left:120px;color:#ff4c27" class="hidden" id="UploadRequirment_Warning">Warning</div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label">论文模板</label>
        <div class="input-group" style="width:80%">
            <label for="PaperExample" class=" btn btn-default">选择文件</label>
            <input id="PaperExample" accept="application/pdf" onchange="PaperExample()" type="file"
                   style="display:none">
            <div id="PaperExampleFileName">请选择论文模版pdf文件！</div>
        </div>
    </div>

    <div class="step1-title">
        <span class="num">5</span>填写会议流程
    </div>


    <div class="container" id="TimeLine">
        <div class="row">
            <div class="col-md-12">
                <div class="VivaTimeline">
                    <dl>
                        <dd  v-for="(activity,index) in Activities" class="clearfix" :class="{'pos-right':index%2 != 1}">
                            <div class="circ"></div>
                            <div class="time">{{activity.start_time}}</div>
                            <div class="events">
                                <div class="events-header">{{activity.place}}</div>
                                <div class="events-body">
                                    <div class="row" style="display: block">
                                        <div class="events-desc timelineDe">
                                            {{activity.activity}}
                                        </div>
                                        <div style="float:right;margin-right:20px">
                                            <button class="btn btn-danger" :id="['RemoveTimeLineButton_'+index]" onclick="ReMoveTimeLine(this)">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </dd>


                    </dl>
                </div>
            </div>
        </div>
    </div>


    <div class="addTimeLine">
        <button class="btn btn-primary btn-lg" onclick="showAddTimeLine()">添加会议活动日程安排</button>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop=”static” data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加活动一个会议流程
                    </h4>
                </div>
                <div class="modal-body" style="height:400px; text-align: left">

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">活动开始日期</label>
                        <div class="input-group" style="display: inline-block">
                            <input id="AddTimeLine_StartTime" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">活动结束日期</label>
                        <div class="input-group" style="display: inline-block">
                            <input id="AddTimeLine_FinishTime" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">活动地点</label>
                        <div class="input-group" style="width:70%">
                            <input id="AddTimeLine_Location" type="text" class="form-control" placeholder="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">活动描述</label>
                        <div class="input-group" style="width:70%">
                            <textarea id="AddTimeLine_Description" style="height:70px; resize:none" class="form-control"
                                      placeholder="Username" aria-describedby="basic-addon1"></textarea>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="AddTimeLine()">
                        提交更改
                    </button>
                </div>

            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->


    <div class="step1-title">
        <span class="num">6</span>填写会议主办方信息
    </div>

    <div style="margin-top:30px">
        <label class="input-label">组织名称</label>
        <div class="input-group" style="width:80%">
            <input role="listen" type="text" class="form-control" placeholder="组织名称" aria-describedby="basic-addon1">
        </div>
        <div  role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="OrgName_Warning">Warning</div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label">联系人姓名</label>
        <div class="input-group" style="width:80%">
            <input role="listen"  type="text" class="form-control" placeholder="联系人姓名" aria-describedby="basic-addon1">
        </div>
        <div  role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="ContactName_Warning">Warning</div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label">联系人电话</label>
        <div class="input-group" style="width:80%">
            <input role="listen"  type="text" class="form-control" placeholder="联系人电话" aria-describedby="basic-addon1">
        </div>
        <div  role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="ContactPhone_Warning">Warning</div>
    </div>

    <div style="margin-top:30px">
        <label class="input-label">联系人邮箱</label>
        <div class="input-group" style="width:80%">
            <input role="listen"  type="text" class="form-control" placeholder="联系人邮箱" aria-describedby="basic-addon1">
        </div>
        <div  role="Warning" style="margin-left:120px;color:#ff4c27" class="hidden" id="ContactMail_Warning">Warning</div>
    </div>

    <div class="step1-title">
        <span class="num">7</span>选择会议模板
    </div>

    <div style="margin: 20px auto; text-align: center">
        <img id="1" class="chosen-img active" src="img/meeting-model1.png" alt="会议模板1" onclick="choose_img(1)">
        <img id="2" class="chosen-img" src="img/meeting-model2.png" alt="会议模板2" onclick="choose_img(2)">
    </div>

<div class="AddConButton">
    <button class="btn btn-primary btn-lg" onclick="AddConference()">去发布！</button>
</div>
</div>


<script src='js/jquery-3.3.1.js'></script>
<script src="js/bootstrap.js"></script>
<script src="js/vue.js"></script>
<script src="js/bootstrap-datetimepicker.js"></script>
<script src="js/createCon.js"></script>
<script type="text/javascript" src="js/jquery.eeyellow.Timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
    });
</script>
<script src="js/distpicker.data.min.js"></script>
<script src="js/distpicker.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>