<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/alter.css">
    <link rel="stylesheet" href="css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.eeyellow.Timeline.css"/>
    <link rel="stylesheet" href="css/per_center.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>


    <title>会议管理平台</title>
</head>
<body>
<!--顶端导航栏-->
<div id="per_info">
<div style="height: 60px">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width:100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h class="navbar-brand" >ConferenceMaster</h>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav" style="float:none;">

                    <li><a href="index.html">Home</a></li>

                    <li class="pull-right" ><a id="NavText1" href="userRegister.html">免费注册</a></li>
                    <li class="pull-right" ><a id="NavText2" href="login.html">登录</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>


<!--手机导航栏-->
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootstrap 3
                </a>
            </li>
            <li v-on:click="click_account">
                <a href="#"><i class="fa fa-fw fa-home"></i> 帐号信息</a>
            </li>
            <li v-if="is_normal" v-on:click="click_collection" >
                <a href="#" ><i class="fa fa-fw fa-folder"></i> 收藏</a>
            </li>
            <li v-if="is_unit" v-on:click="click_childaccount">
                <a href="#" ><i class="fa fa-fw fa-file-o"></i> 子帐号列表</a>
            </li>
            <li v-if="not_normal"  v-on:click="click_meeting">
                <a href="#"><i class="fa fa-fw fa-cog"></i> 会议管理</a>
            </li>
            <li v-on:click="click_password">
                <a href="#"><i class="fa fa-fw fa-cog"></i> 修改密码</a>
            </li>
            <li v-if="is_normal" v-on:click="click_paper">
                <a href="#"><i class="fa fa-fw fa-cog"></i>论文信息 </a>
            </li>
            <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>-->

        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" >
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container" style="display:block" id="div_account">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                    <!--帐号信息-->
                    <div class="panel panel-default" >

                        <div class="panel-heading" style="height: 50px">
                            <h3 class="panel-title" style="text-align: center">
                                帐号信息
                            </h3>
                        </div>
                        <div class="panel-body"  >
                            <div class="text-info">
                                帐号名：{{account_name}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="container" style="display:none" id="div_collection">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--收藏-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            收藏会议列表
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <ul class="list-group" v-for="(collection_meeting,index) in collection_meetings" >
                            <li class="list-group-item" style="align:center"><a :href="['jumpingPage.html?id='+collection_meeting.id]">会议名称：{{collection_meeting.name}} </a>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="display:none" id="div_childaccount">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--子帐号列表-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            子帐户列表
                        </h3>
                    </div>
                    <div class="panel-body" align="center" >
                        <ul class="list-group" v-for="(childaccount,index) in childaccounts" >
                            <li class="list-group-item">子账户名：{{childaccount.name}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="material-icons" v-on:click="setcapassword(index)" >build</a>     <!--model3-->
                                <a class="material-icons" v-on:click="deleteca(index)">delete_foreve</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="addTimeLine" >
                <button class="btn btn-primary btn-lg" v-on:click="addChildAccount2">添加子账户</button>
            </div>
        </div>

        <div class="container" style="display:none" id="div_meeting">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--会议管理-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            会议管理
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <ul class="list-group" v-for="(meeting,index) in meetings" >
                            <li class="list-group-item"><a :href="['jumpingPage.html?id='+meeting.id]">会议名称：{{meeting.name}} </a>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary" v-on:click="click_meeting_info(index)">修改会议信息</button>
                                <button type="button" class="btn btn-success" v-on:click="click_paper_info(index)">投稿情况</button>
                                <button type="button" class="btn btn-warning" v-on:click="click_meeting_user_info(index)">参会人员注册情况</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="display:none" id="div_meeting_info">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->

                <div class="step-content">
                    <h3>会议详细信息</h3>
                    <div class="step1-title">
                        <span class="num">1</span>修改会议信息
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">会议名称</label>
                        <div class="input-group" style="width:80%">
                            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" v-model="temp.title">
                        </div>

                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">会议简介</label>
                        <div class="input-group" style="width:80%">
            <textarea style="height:100px; resize:none" class="form-control" placeholder="Username"
                      aria-describedby="basic-addon1" v-model="temp.introduction"></textarea>
                        </div>

                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">注册要求</label>
                        <div class="input-group" style="width:80%">
            <textarea style="height:70px; resize:none" class="form-control" placeholder="Username"
                      aria-describedby="basic-addon1" v-model="temp.register_requirement"></textarea>
                        </div>
                    </div>

                    <div class="step1-title">
                        <span class="num">2</span>修改您已选择的会议学科
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类</label>

                        <div class="select-input select-category" id="CreatConSubjectList">
                            <input type="text" id="txt_ide" list="optionList" />
                            <a class="material-icons" v-on:click="AddSubject" >cached</a>

                        </div>

                        <datalist id="optionList">
                            <option v-for="(subject,index) in Subjects" :id="['SubjectOptionList_'+index]" :value="[subject]" />
                        </datalist>
                        <div class="step1-title">
                        </div>

                        <label class="input-label" style="margin-top:20px;bottom-bottom:40px">已选分类</label>

                        <div class="select-input select-category" style="margin-top:15px" id="AlreadySelectedSubjectList">
                            <span v-for="(subject,index) in AlreadySelectedSubjectList" style="margin-left:5px" class="Alreadycategory-list selected" index="1" :id="['AlreadySelectedSubjectOptionList_'+index]" >{{AlreadySelectedSubjectList[0]}}</span>
                        </div>
                    </div>

                    <div class="step1-title">
                        <span class="num">3</span>填写会议相关日期
                    </div>
                    <div style="margin-top:30px">
                        <label class="input-label">截稿日期</label>
                        <div class="input-group" style="display: inline-block">
                            <input size="10" v-model="temp.accept_due" type="text" value="" class="date form_datetime" >
                        </div>
                    </div>


                    <div style="margin-top:30px">
                        <label class="input-label" style="width:200px">注册开始日期</label>
                        <div class="input-group" style="display: inline-block">
                            <input size="10" type="text" value="" class="form_datetime" v-model="temp.register_start">

                        </div>
                        <label class="input-label" style="width:250px;float:none;margin-left:20%">注册截止日期</label>
                        <div class="input-group" style="display: inline-block">
                            <input size="10" type="text" value="" class="form_datetime" v-model="temp.register_due">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px">会议开始时间</label>
                        <div class="input-group" style="display: inline-block">
                            <input  type="text"  class="form_datetime" v-model="temp.conference_start">

                        </div>
                        <label class="input-label" style="width:150px;float:none;margin-left:20%">会议结束日期</label>
                        <div class="input-group" style="display: inline-block">
                            <input  type="text" id="conference_due" value="" class="form_datetime" v-model="temp.conference_due">
                        </div>
                    </div>

                    <div class="step1-title">
                        <span class="num">4</span>填写投稿信息和要求
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">投稿信息</label>
                        <div class="input-group" style="width:80%">
            <textarea style="height:70px; resize:none" class="form-control" placeholder="Username"
                      aria-describedby="basic-addon1" v-model="temp.soliciting_requirement"></textarea>
                        </div>

                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label">论文模板</label>
                        <div class="input-group" style="width:80%">
                            <label for="PaperExample" class=" btn btn-default">选择文件</label>
                            <input id="PaperExample" accept="application/pdf" onchange="PaperExample()" type="file"
                                   style="display:none">
                            <div id="PaperExampleFileName">请选择论文模版pdf文件！</div>
                        </div>
                    </div>



                    <div class="step1-title">
                        <span class="num">4</span>填写会议流程
                    </div>


                    <div class="container" id="TimeLine">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="VivaTimeline">
                                    <dl>
                                        <dd  v-for="(activity,index) in Activities" class="clearfix" :class="{'pos-right':index%2 != 1}">
                                            <div class="circ"></div>
                                            <div class="time">{{activity.start_time}}</div>
                                            <div class="events">
                                                <div class="events-header">{{activity.place}}</div>
                                                <div class="events-body">
                                                    <div class="row" style="display: block">
                                                        <div class="events-desc timelineDe">
                                                            {{activity.activity}}
                                                        </div>
                                                        <div style="float:right;margin-right:160px">
                                                            <button class="btn btn-danger" :id="['RemoveTimeLineButton_'+index]" onclick="ReMoveTimeLine(this)">-</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </dd>


                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="addTimeLine">
                        <button class="btn btn-primary btn-lg" onclick="showAddTimeLine()">添加会议活动日程安排</button>
                    </div>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
                         data-backdrop=”static” data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        添加活动一个会议流程
                                    </h4>
                                </div>
                                <div class="modal-body" style="height:400px; text-align: left">

                                    <div style="margin-top:30px">
                                        <label class="input-label" style="width:150px;">活动开始日期</label>
                                        <div class="input-group" style="display: inline-block">
                                            <input id="AddTimeLine_StartTime" type="text" value=""
                                                   class="form-control form_datetimeTimeLine">
                                        </div>
                                    </div>

                                    <div style="margin-top:30px">
                                        <label class="input-label" style="width:150px;">活动结束日期</label>
                                        <div class="input-group" style="display: inline-block">
                                            <input id="AddTimeLine_FinishTime" type="text" value=""
                                                   class="form-control form_datetimeTimeLine">
                                        </div>
                                    </div>

                                    <div style="margin-top:30px">
                                        <label class="input-label">活动地点</label>
                                        <div class="input-group" style="width:70%">
                                            <input id="AddTimeLine_Location" type="text" class="form-control" placeholder="Username"
                                                   aria-describedby="basic-addon1">
                                        </div>
                                    </div>

                                    <div style="margin-top:30px">
                                        <label class="input-label">活动描述</label>
                                        <div class="input-group" style="width:70%">
                            <textarea id="AddTimeLine_Description" style="height:70px; resize:none" class="form-control"
                                      placeholder="Username" aria-describedby="basic-addon1"></textarea>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary" onclick="AddTimeLine()">
                                        提交更改
                                    </button>
                                </div>

                            </div>


                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->









                </div>
                <div align="center">
                    <button type="button" class="btn btn-primary" v-on:click="click_meeting_cancal">取消</button>

                    <button type="button" class="btn btn-success" v-on:click="click_meeting_set">确定</button>
                </div>

            </div>



        </div>

        <div class="container" style="display:none" id="div_paper_info">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--收藏-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            投稿情况
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <ul class="list-group" v-for="(paper,index) in papers" >
                            <li class="list-group-item">论文题目：{{paper.paper_name}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 论文提交者：{{paper.submitter}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;审核状态:{{paper.status}}
                                <button type="button" class="btn btn-primary"  v-if="paper.seen" v-on:click="click_paper_check(index)">填写审核意见</button>
                                <button type="button" class="btn btn-success" v-on:click="click_download(index)"  >下载</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div align="center">
                    <button type="button" class="btn btn-success" v-on:click="click_paper_download">导出投稿情况信息</button>
                    <button type="button" class="btn btn-primary" v-on:click="click_paper_end">返回</button>
                </div>
            </div>
        </div>

        <div class="container" style="display:none" id="div_meeting_user_info">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--收藏-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            注册会议人员信息
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <ul class="list-group" v-for="(meeting_user in meeting_users" >
                            <li class="list-group-item">姓名：{{meeting_user.name}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 性别：{{meeting_user.gender}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;是否预定住宿:{{meeting_user.reservation}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div align="center">
                    <button type="button" class="btn btn-success" v-on:click="click_user_download">导出注册会议人员信息</button>
                    <button type="button" class="btn btn-primary" v-on:click="click_meeting_user_end">返回</button>
                </div>
            </div>
        </div>


        <div class="container" style="display:none" id="div_password">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--修改密码-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            修改密码
                        </h3>
                    </div>
                    <div class="panel-body"  >
                        <div class="input-group" style="display: inline-block">
                            请输入密码<input v-model="setaccount_password" type="text" value=""
                                   class="form-control form_datetimeTimeLine" >
                        </div>
                        <div class="input-group" style="display: inline-block">
                            新密码<input v-model="temp_password" type="text" value=""
                                   class="form-control form_datetimeTimeLine" >
                        </div>
                        <div class="input-group" style="display: inline-block">
                            确认密码<input v-model="temp_password2" type="text" value=""
                                   class="form-control form_datetimeTimeLine" >
                        </div>
                        <button type="button" class="btn btn-success" v-on:click="set_password">确定</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="container" style="display:none" id="div_paper">
            <div class="row" style="width: 85%">
                <!--<div class="col-lg-8 col-lg-offset-2">-->
                <!--收藏-->
                <div class="panel panel-default" >
                    <div class="panel-heading" style="height: 50px">
                        <h3 class="panel-title" style="text-align: center">
                            论文提交情况
                        </h3>
                    </div>
                    <div class="panel-body" >
                        <ul class="list-group" v-for="(user_paper,index) in user_papers" >
                            <li class="list-group-item">论文题目：{{user_paper.paper_name}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 论文作者：{{user_paper.conference_title}} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;审核状态:{{user_paper.status}}
                                <button type="button" class="btn btn-primary" v-if="user_paper.state==='M'" v-on:click="click_modify(index)" >修改后提交</button>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <!--添加子账户-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop=”static” data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                        添加一个子账户
                    </h4>
                </div>
                <div class="modal-body" style="height:400px; text-align: left">

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">账户名</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="addchildaccount_name" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">账户密码</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="addchildaccount_password" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >关闭
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="addChildAccount3">
                        提交添加
                    </button>
                </div>

            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    <!--修改子账户密码-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop=”static” data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                        修改子账户{{temp_name}}密码
                    </h4>
                </div>
                <div class="modal-body" style="height:400px; text-align: left">

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">输入密码</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="setaccount_password" type="text" value=""
                                   class="form-control form_datetimeTimeLine" >
                        </div>
                    </div>


                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">输入新密码</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="temp_password" type="text" value=""
                                   class="form-control form_datetimeTimeLine" >
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">确认密码</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="temp_password2" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="complete_ac_password">
                        确认更改
                    </button>
                </div>

            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    <!--修改账户密码-->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         data-backdrop=”static” data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                        修改账户密码
                    </h4>
                </div>
                <div class="modal-body" style="height:400px; text-align: left">

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">输入密码</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="temp_password" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">确认密码</label>
                        <div class="input-group" style="display: inline-block">
                            <input v-model="temp_password2" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="complete_password">
                        确认更改
                    </button>
                </div>

            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    <!--填写审核信息-->



    <!--论文详细信息及审核-->
    <div class="modal fade" id="myModal6"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">论文投稿</h4>
                </div>
                <div class="modal-body">
                    <div class="box-line">
                        <span class="line-left"></span><span class="text">作者信息</span><span class="line-right"></span>
                    </div>
                    <div class="form-group input-sm-left">
                        <label>第一作者</label>
                        <input readonly="readonly" type="text" class="form-control" id="author11">
                    </div>
                    <div class="form-group input-sm-right">
                        <label>单位</label>
                        <input readonly="readonly" type="text" class="form-control" id="org11">
                    </div>
                    <div style="clear: both"></div>
                    <div id="author-12" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第二作者</label>
                            <input readonly="readonly" type="text" class="form-control" id="author12">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input readonly="readonly" type="text" class="form-control" id="org12">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="author-13" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第三作者</label>
                            <input readonly="readonly" type="text" class="form-control" id="author13">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input readonly="readonly" type="text" class="form-control" id="org13">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="author-14" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第四作者</label>
                            <input readonly="readonly" type="text" class="form-control" id="author14">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input readonly="readonly" type="text" class="form-control" id="org14">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="author-15" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第五作者</label>
                            <input readonly="readonly" type="text" class="form-control" id="author15">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input readonly="readonly" type="text" class="form-control" id="org15">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group input-sm-left">
                        <label>通讯作者</label>
                        <input readonly="readonly" type="text" class="form-control" id="author-com1">
                    </div>
                    <div class="form-group input-sm-right">
                        <label>单位</label>
                        <input readonly="readonly" type="text" class="form-control" id="org-com1">
                    </div>
                    <div style="clear: both"></div>
                    <div class="box-line">
                        <span class="line-left"></span><span class="text">论文信息</span><span class="line-right"></span>
                    </div>
                    <div class="form-group" style="margin-top: 5px">
                        <label>论文标题</label>
                        <input type="text" readonly="readonly" class="form-control" id="paper_title1">
                    </div>
                    <div class="form-group" style="margin-top: 5px">
                        <label>论文摘要</label>
                        <textarea class="form-control" readonly="readonly" rows="8" id="paper_abstract1"></textarea>
                    </div>
                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">审核意见 </label>
                        <div class="input-group" style="display: inline-block">
                            <input id="check_advice" type="text" value=""
                                   class="form-control form_datetimeTimeLine">
                        </div>
                    </div>

                    <div style="margin-top:30px">
                        <label class="input-label" style="width:150px;">是否通过</label>
                        <div class="btn-group" data-toggle="buttons">
                            <label name="options" class="btn btn-primary">
                                <input type="radio"  id="option1">通过
                            </label>
                            <label name="options"  class="btn btn-primary">
                                <input type="radio"  id="option2">不通过
                            </label>
                            <label name="options" v-if="paper_detail.modified" class="btn btn-primary">
                                <input type="radio"  id="option3">建议修改
                            </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="click_check_add">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="myModal7"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">论文投稿</h4>
                </div>
                <div class="modal-body">
                    <div class="box-line">
                        <span class="line-left"></span><span class="text">作者信息</span><span class="line-right"></span>
                    </div>
                    <div class="form-group input-sm-left">
                        <label>第一作者</label>
                        <input type="text" class="form-control" id="author1">
                    </div>
                    <div class="form-group input-sm-right">
                        <label>单位</label>
                        <input type="text" class="form-control" id="org1">
                    </div>
                    <div style="clear: both"></div>
                    <div id="author-2" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第二作者</label>
                            <input type="text" class="form-control" id="author2">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input type="text" class="form-control" id="org2">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="author-3" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第三作者</label>
                            <input type="text" class="form-control" id="author3">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input type="text" class="form-control" id="org3">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="author-4" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第四作者</label>
                            <input type="text" class="form-control" id="author4">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input type="text" class="form-control" id="org4">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div id="author-5" class="hidden">
                        <div class="form-group input-sm-left">
                            <label>第五作者</label>
                            <input type="text" class="form-control" id="author5">
                        </div>
                        <div class="form-group input-sm-right">
                            <label>单位</label>
                            <input type="text" class="form-control" id="org5">
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="form-group input-sm-left">
                        <label>通讯作者</label>
                        <input type="text" class="form-control" id="author-com">
                    </div>
                    <div class="form-group input-sm-right">
                        <label>单位</label>
                        <input type="text" class="form-control" id="org-com">
                    </div>
                    <div style="clear: both"></div>
                    <div style="text-align: center">
                        <button id="addAuthor" class="btn btn-primary ml-5 mr-5" onclick="add_author()">添加作者</button>
                        <button id="delAuthor" class="btn btn-primary ml-5 mr-5 hidden" onclick="del_author()">删除作者</button>
                    </div>
                    <div class="box-line">
                        <span class="line-left"></span><span class="text">论文信息</span><span class="line-right"></span>
                    </div>
                    <div class="form-group" style="margin-top: 5px">
                        <label>上传论文</label>
                        <input id="paper_up" type="file" class="file" accept="application/pdf" onchange="triggerfile_paper()"/>
                        <label id="label_paper_up" for="paper_up" style="font-size: 14px">选择文件</label>
                    </div>
                    <div class="form-group" style="margin-top: 5px">
                        <label>论文标题</label>
                        <input type="text" class="form-control" id="paper_title">
                    </div>
                    <div class="form-group" style="margin-top: 5px">
                        <label>论文摘要</label>
                        <textarea id="paper_outline" class="form-control" rows="8"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="paper_upload">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- /#page-content-wrapper -->

</div>

</div>





<script src='js/jquery-3.3.1.js'></script>
<script src="js/bootstrap.js" ></script>
<script src="js/vue.js"></script>
<script src="js/bootstrap-datetimepicker.js"></script>
<script src="js/person_center.js"></script>
<script type="text/javascript" src="js/jquery.eeyellow.Timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.VivaTimeline').vivaTimeline({
            carousel: true,
            carouselTime: 3000
        });
    });
</script>

</body>
</html>